body {
  line-height: 1;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}
.container{
	width: 1170px;
	margin: auto;
}
.bg-color{
		background-color: rgba(0, 0, 0, 0.41);
		min-height: 610px;
}
.bgimage {
	background-image: url(img/banner.jpeg);
	background-size: cover;
	width: 100%;
	min-height: 610px;
}
.menu {
	width: 100%;
	height: 100px;
    background-color:rgba(0,0,0,0.0	); 
    position: fixed;
}

.leftmenu {
	width: 25%;
	float: left;
}
.leftmenu h3 {
	padding-left: 30px;
    font-weight: bolder;
    font-size: 34px;
    color: white;
    letter-spacing: 2px;
    margin: 0;
    padding-top: 33px;
	
}
.leftmenu a {
	text-decoration: none;
	color: white;
}
.leftmenu a:hover {
	color: #FFD34E;
 }
.rightmenu {
	float: right;
    padding-right: 36px;
    padding-top: 11px;
}
.clear{
	clear: both;
}
.rightmenu ul li {
   
   display: inline;
   list-style-type: none;
   font-size: 14px;
   color: #fff;
   font-weight: 400;
    margin-left: 36px; 
    text-transform: uppercase;

}
.rightmenu ul {
	padding: 40px 0 40px 0;
    margin: 0;
    text-align: center;
}
.rightmenu ul li a:hover {
	color:#FFD34E;
}
.rightmenu ul li a {
	text-decoration: none;
	color: #fff;
}
.active{
	color: #FFD34E !important;
}
.text {
	padding-top: 105px;
	width: 100%;
	text-align: center;
	color: white;
}
.text h4 {
	 font-size: 27px;
	 margin-bottom: 20px;
	 margin-top: 10px;
	 text-transform: uppercase;
	 letter-spacing: 4px;
}
.text h1 {
	font-size: 123px;
    margin: 0;
    text-transform: uppercase;
    padding-top: 13px;
    letter-spacing: 4px;
    font-weight: 700;
}
.text h3{
	font-size: 50px;
	margin: 28px 0 40px 0;
	text-transform: uppercase;
	letter-spacing: 4px;
}
#btn {
	background: #FFD34E;
    border: 0px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    padding: 13px 40px;
    font-weight: normal;
    border-radius: 0px;
    letter-spacing: 1px;
    color: #333;
    margin-top: 6px;
    border:2px solid transparent;
    text-decoration: none;
    transition: all 0.4s ease-in-out
}
#btn:hover {
	background-color: #fff;
	color: #333;
	cursor: pointer;
	border:2px solid #FFD34E;
}
.box {
	border:5px solid #FFD34E;
	margin: 40px 0;

}
.box h3 {
	padding: 40px;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	color: #333;
}
.dec-tec {
    font-size: 34px;
}
.bgcolor {
	background-color:#f8f8f8;
	padding: 55px 65px;
}
hr{
	margin-top: 35px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}
.btm-line {
	background-color: #2b2b2b;
    width: 34px;
    height: 3px;
    display: inline-block;
}
.bgcolor {
	display: flex;
}
.bgcolor .container{
	display: flex;
}
.section1,.section {
	margin: 60px 0 0 0px;
}
.section1>div{
	display: flex;
}
.bgcolor .section1{
	width: 32%;
	margin-left: 60px;
}
.left{
	margin-top: 40px;
}
.icon {
	font-size: 35px;
    margin-top: 20px;
    margin-right: 35px;
    color: #333;
}
 .section .left h3 {
	font-size:32px;
	color: #333;
	margin: 0;
}
.section1,.section,.section .left p {
 	font-size:14px;
	color: #888;
	font-weight: 400;
	line-height: 20px; 
	width: 300px;
	margin: 0;
 }
.section1 h4 {
 	font-size:24px; 
	font-weight: 500;
	color: #333;
	margin-bottom: 15px;
 }
 .section2>div,.section1>div {
 	margin-bottom: 20px;	
 }
 .section2>div>p,.section1>div>p {
 	margin-top: 15px;
 }
 .cta-banner{
 	display: flex;
 	background:url(img/cta-banner.jpg)  no-repeat center fixed;
 	}
 .cta-banner .container{
 	display: flex;
 }
 .left-btn{
 	flex: 1;
 }
 .right {
   flex: 3;
  margin: 50px 0;
 }
 .right h4{
 	font-size: 30px;
 	font-weight: 600;
 	color: #fff;
 	margin-bottom: 15px;
 }
 .right p{
 	font-size: 14px;
 	color: #fff;
 	font-weight: 400;
 }
.cta-banner .left-btn{
	padding: 100px 0 100px 60px;
}
.Porfolio .container{
  display: flex;
}
.gallery{
	flex: 1;
	margin: 60px 10px 0 10px;
}
.gallery img {
	margin-bottom: 15px;
	cursor: pointer;
}
.left-section{
  flex: 3;
  margin: 60px 0 0 0px;
}
.section h4,.left-section h4 {
	font-size: 32px;
    color: #2b2b2b;
    margin-bottom: 0;
}
.cnt-page .txt-color{
	color: #000;
}
.left-section p {
	font-size:14px;
	font-family:Open Sans;
	color: #888;
	font-weight: 400;
	line-height: 25px; 
	margin-top: 0;
}
.cnt-page {
	background: #f8f8f8;
	padding-bottom: 35px;
}
.cnt-page .section {
	margin: 35px 0;
	padding-top: 60px;
	
}
.cnt-page .section p {
	width: 750px;
	color: #000;
	font-size: 14px;
	margin: 0;
	font-weight: 600;
}
.form-group {
    margin-bottom: 15px;
}
.form-control {
	display: block;
    width: 86%;
    height: 24px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group textarea {
  height: unset;
}
textarea.form-control {
    font-family: 'Open Sans', sans-serif;
}
#btn1 {
	background-color: #FFD34E;
	font-size: 14px;
	border:none;
	line-height: 36px;
	margin: 0 0 20px 0;
	padding: 6px 12px;
	font-weight: 100;
	cursor: pointer;
	text-decoration: none;
	color: #000;
	font-weight: 400;
		
}
#btn1:hover {
	color: #333;
}
.section3{
	display: flex;

}
.cnt-form{
flex: 1;
}
::placeholder {
  color: #9C9C9C;
  }
.section4{
	flex: 1;
}
.mail-icon{
	flex: 1;
	text-align: right;
}
 .mail-icon .mail{
    font-size: 330px;
    font-weight: 100;
    color: #6f6f6f;
    transform: rotate(23deg);
    }
.section3 .cont-title {
 	font-size:20px; 
	font-weight: 400;
	color: #333;
	margin-bottom: 20px;
 }
 #footer {
 	background: #191919;
 	display: flex;
 	justify-content: space-between;
 	padding: 20px 60px 20px 60px;
 }
 #footer .container{
 	display: flex;
 }
 .cont-title h4{
 	margin: 0;
 	font-size: 24px;
    padding: 15px 0px;
    font-weight: 400;
 }
.copyright {
 	flex:10 ;
 	font-size: 14px;
 	color: #fff;
 	line-height: 30px;
 	padding-left: 10px;
 }

.social-icon {
 	flex: 2;
 	margin-top: 10px;
 	text-align: right;
 }

 .copyright a {
  text-decoration: none;
  color: #fff;
 }
 .copyright a:hover {
 	color: orange;
 }
.social-icon a{
	color: #666;
	font-size: 17px;
} 
 .social-icon a:hover{
 	color: orange;
 }
 .info span{
 	font-size: 18px;
 	color: #000;
 	font-weight: 400;
 }
 .info div {
 	margin-bottom: 20px;
 }

 .info div a{
 	text-decoration: none;
 	color: #000;
 }
 .info div a:hover{
 	color:orange;
 }
 .info .cont-icon i{
 	font-size: 22px;
 	color: #666;
 	margin-right: 18px;
 }
 #rotate{
 	transform: rotate(96deg);
 } 

